<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template by: oldPCdev</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <main>
        <nav>
            <a href="#">Home</a>
            <a href="#">Blog</a>
            <a href="#">News</a>
        </nav>
        <header>
            <h1>Content</h1>
        </header>
        <aside>
            <h3>Sidebar</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptatum magni, odit blanditiis accusamus dolore enim incidunt! Nemo ex, totam aut nostrum praesentium fuga exercitationem id voluptates maiores consequuntur vitae!</p>
        </aside>
        <aside>
            <h3>Sidebar</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda suscipit fugiat dolorem sapiente perferendis culpa magni reprehenderit soluta pariatur natus, perspiciatis alias aliquam iure illo fugit eligendi ducimus maxime dolorum.</p>
        </aside>
        <article>
            <h3>Content</h3>
            <p>Paragraph with lorem ipsum</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates porro unde laudantium perferendis id dicta facere possimus et aliquam, facilis voluptatibus. Aut doloribus deserunt quasi quibusdam accusantium praesentium error culpa.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi ipsum odit nemo atque unde facilis eius sequi provident nesciunt assumenda suscipit, magni quam in expedita inventore dicta ex totam quis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae minima maiores neque est! Vel iure, ea totam, quos mollitia veritatis hic ullam aliquam eaque et, consequuntur saepe nostrum fugiat!</p>
            <figure>
                <img style="max-width:100%;height:260px" src="images/butterfly.webp" alt="butterfly">
                <figcaption>Butterfly</figcaption>
            </figure>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor totam placeat quasi cumque cum officiis ipsam tempore dolores officia rerum error sed atque, voluptatibus impedit vitae facere, voluptate eveniet nostrum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, aspernatur dolore quisquam sit temporibus molestias praesentium eos fugit labore quibusdam, et provident quas ut possimus blanditiis! Error dolorum molestiae ducimus.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi corrupti maxime dicta minus vero consequatur provident consectetur? Excepturi eveniet ipsa harum veritatis repudiandae, quam aliquid nemo fugit officia sunt. A?</p>
        </article>
        <footer>&copy; developer</footer>
    </main>
</body>
</html>