@charset "utf-8";

@media only screen and (min-width:1325px) {
	article#resp { display: none }
}

@media only screen and (max-width:1324px) {
	aside { display: none; }
	main { max-width: 1100px; margin-left: 30px }
	main article .gallery figure img { width: 300px; height: 290px; }
}

@media only screen and (max-width:1088px) {

	main article .gallery figure img { max-width: 200px; max-height: 190px; }
}

@media only screen and (max-width:995px) {
	main article { margin: 10px 0px 10px 0px }
	main { margin-left: 30px }
}

@media only screen and (max-width:780px) {
	main { margin: auto; }
}

@media only screen and (min-width:780px) {
	article { border-radius: 14px }
}

@media only screen and (max-width:670px) {
	header nav { display: none; }
	main article .gallery figure img { max-width: 230px; max-height: 220px; }
}

@media only screen and (max-width:570px) {
	main article > img { max-width: 510px }
}

@media only screen and (max-width:460px) {
	main article > img { max-width: 400px }	
}

@media only screen and (max-width:390px) {
	main article .gallery figure img { max-width: 110px; max-height: 100px; }
}

@media only screen and (max-width:335px) {
	main article > img { max-width: 300px }
	main article .gallery figure { margin-left: 10px; }
	header h1 img { display: none; }
	header { height: 60px }
}

@media only screen and (max-width:260px) {
	main article > img { max-width: 230px }
	main article .gallery figure img { width: 70px; height: 80px; }
}

@media only screen and (max-width:205px) {
	header { height: 75px; }
	.header-space { height: 900px; }
}
