@charset "utf-8";

@media only screen and (max-width:1310px) {
	main article#mainRight {
		display: none
	}
	
	main article#mainLeft {
		margin-left: 200px;
	}
}

@media only screen and (max-width:1260px) {
	main article#mainLeft {
		display: none;
	}
	
	main article#mainCenter {
		float: none;
		margin: 10px auto 10px auto;
	}
}

@media only screen and (min-width:1049px) {
	section#mainHiddenLeft {
		display: none;
	}
}

@media only screen and (max-width:1050px) {
	article#mainLeft {
		display: none;
	}
	
	main article#mainCenter {
		float: none;
		margin: 10px auto 10px auto;
		max-width: 600px;
	}
	
	.wrapper {
		margin: 0px auto 0px auto;
	}
}

@media only screen and (max-width:742px) {
	article#mainRight {
		display: none
	}
	
	article#mainTop {
		max-width: 560px;
	}
	
	article#mainTop section.content {
		display: none;
	}
}

@media only screen and (max-width:690px) {
	header {
		height: 150px;
	}
	nav {
		display: none;
	}
}

@media only screen and (max-width:350px) {
	header {
		height: 170px;
		background: #2e1b24;
	}
	
	header menu ul li {
		font-size: 19px;
	}
}

@media only screen and (min-width:689px) {
	menu {
		display: none;
	}
}
