@charset "utf-8";

@media only screen and (max-width:1050px) {
	article#mainLeft {
		display: none;
	}
}

@media only screen and (max-width:742px) {
	article#mainRight {
		display: none
	}
	
	article#mainTop {
		max-width: 560px;
	}
	
	article#mainTop section.content {
		display: none;
	}
}

@media only screen and (max-width:690px) {
	header {
		height: 110px;
	}
	nav {
		display: none;
	}
}

@media only screen and (max-width:440px) {
	menu {
		display: none;
	}
}

@media only screen and (min-width:689px) {
	menu {
		display: none;
	}
}
