@charset "utf-8";

/* I MADE THIS TOOLTIP, I DON'T COPY THE CODE!!! */

main article p .tooltip {
	position: relative;
	color: #9bac6b;
}

main article p .tooltip .hidden {
	visibility: hidden;
	position: absolute;
	bottom: 100%;
	left: -40px;
	width: 160px;
	background: #56203c;
	color: #fff;
	text-align: center;
	padding-bottom: 9px;
}

main article p .tooltip .hidden img.imgheader {
	position: absolute;
	bottom: 100%;
	right: 0;
}

main article p .tooltip .hidden .callout {
	position: absolute;
	bottom: -18px;
	right: 68px;
	width: 30px;
}

main article p .tooltip .hidden .header {
	font-size: 25px;
	font-weight: 900;
}

main article p .tooltip:hover .hidden {
	visibility: visible;
}
