@charset "utf-8";
/*big tablet*/@media only screen and (min-width:1025px){#menu{display:none;}}@media only screen and (max-width:1024px){#menu{display:block;}#nav{display:none;}#header{height:540px;}#header h1{float:none;text-align:center;}}
/*mobile*/@media only screen and (max-width:460px){#content>p{font-size:19px;}}
